* {
    margin: 0;
    padding: 0;
}
.active {
    border: black 5px solid;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__form {
    position: absolute;
}
.main__rectangle {
    width: 6vw;
    height: 35vh;
    background-color: #23DA79;
    left: 20vw;
    top: 10vh;
    border-radius: 0.5vw;
}
.main__rectangle2 {
    width: 25vw;
    height: 10vh;
    background-color: #446FEA;
    left: 20vw;
    bottom: 10vh;
    border-radius: 0.5vw;
}
.main__circle {
    width: 250px;
    height: 250px;
    background-color: #FB5159;
    right: 20vw;
    bottom: 40vh;
    border-radius: 100%;
}
.main__score {
    position: absolute;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}