* {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.active {
    background-color: #F0EEF0;
}
.main {
    background-color: #DD634C;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 38vw;
    height: 42vh;
    background-color: white;
    padding-left: 2vw;
}
.card__selected {
    padding: 4vh 0 4vh 0;
}
.card__list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.card__item {
    padding: 1vh 0 1vh 0;
}