* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    height: 100vh;
    background-color: #143642;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 800px;
    height: 180px;
    background-color: white;
    display: flex;
    align-items: center;
}
.card__item {
    display: flex;
    align-items: center;  
}
.card__list {
    display: flex;
    gap: 1vh;
    flex-direction: column;
}
.container__number {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #cfcccf;
    color: #757475;
    margin-right: 10px;
    margin-left: 10px;
}